@charset "UFT-8";

* {
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    flex-direction: column;
    background-color: #0A2239;
    background-position: center center;
    filter: blur(50%);
    background-size: contain;
}

main{
    width: 80vw;
    margin: auto;
    margin-bottom: 50px;
}

#header{
    padding: 30px 0px;
    color: #53A2BE;
    display: flex;
    justify-content: space-between;
}



#order{
    display: flex;
    justify-content: center;
    text-align: center;
}

h3 {
    cursor: pointer;
}

#menu {
    position: absolute;
    list-style: none;
    background-color: #176087;
    border-radius: 10px;
    display: block;
    padding: 10px;
    height: fit-content;
    display: none;
}

#menu li:hover{
 background-color: #53A2BE;
}

#menu li {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.options:hover > #menu {
    color: white;
    display: block;
    cursor: pointer;
}

.material-symbols-outlined {
    font-size: 20px;
    position: relative;
    right: -5px;

    transition: 0.3s ease-in-out all;
}

.options:hover > .material-symbols-outlined {
    transform: rotate(180deg);
}

table {
    width: 80vw;
    border-collapse: collapse;
    background-color: rgb(255, 255, 255) ;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}
tr:nth-child(2n){
    background-color: rgb(209, 209, 209);
}

th {
    background-color: #353434;
    color: white
}